<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Commentaires</title>
</head>
<body class="p-4">
<main class="flex flex-col gap-4">
  <h1 class="text-3xl text-sky-600">Commentaires</h1>
  <form action="/comments" method="post" class="flex flex-col pb-4 gap-2 w-96">
    <textarea name="content" class="border px-2" rows="3"></textarea>
    <button type="submit" class="border border-neutral-400 rounded bg-neutral-200 px-2">Ajouter</button>
  </form>
  <article th:each="comment : ${comments}">
    <div class="border rounded p-2" th:utext="${comment.content}"></div>
    <p class="text-neutral-400 pb-1">
      <span th:text="${#temporals.format(comment.creationTimestamp, 'dd/MM/yyyy HH:mm:ss')}"></span> -
      <span th:text="${comment.author?.login}"></span>
    </p>
  </article>
</main>
</body>
</html>
