<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Page d'accueil</title>
  </head>
  <body class="p-4">
    <h1 class="text-3xl text-sky-600">Page d'accueil</h1>
    <p>Welcome!</p>
    <div th:if="${employee != null}">
      <ul class="ml-4 p-2">
        <li><a class="underline" th:href="@{/books/{id}(id=${employee.id})}">Lister mes livres</a></li>
        <li><a class="underline" th:href="@{/comments}">Consulter les commentaires</a></li>
      </ul>
    </div>
  </body>
</html>
