<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Page d'accueil</title>
  </head>
  <body class="p-4">
    <h1 class="text-2xl pb-4">Authentification</h1>
    <form action="/login" method="post" class="flex flex-col w-96 gap-2">
      <div class="flex flex-row"><label class="grow">Utilisateur:</label> <input type="text" name="login" class="p-1 border rounded bg-sky-100" /></div>
      <div class="flex flex-row"><label class="grow">Mot de passe:</label> <input type="password" name="password" class="p-1 border rounded bg-sky-100" /></div>
      <button type="submit" class="border rounded bg-sky-200 py-1 px-2">Login</button>
    </form>
  </body>
</html>
