<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootTohackApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <envs>
      <env name="SPRING_DATASOURCE_URL" value="jdbc:mysql://localhost:3306/s2hack" />
      <env name="SPRING_DATASOURCE_USERNAME" value="s2hack_user" />
      <env name="SPRING_DATASOURCE_PASSWORD" value="s2hack_password" />
    </envs>
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="spring-boot-tohack" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="be.eafcuccle.froland.sbth.SpringBootTohackApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>